.big-story-heading {
  width: 50%;
  margin: 40px auto 20px auto;
  display: flex;
  justify-content: space-between;
}

.bsLeft {
  width: 33%;
  height: 4px;
  background-color: yellow;
  border-radius: 10px;
  margin-top: 12px;
}

.bgHeading {
  font-size: x-large;
  font-style: italic;
  color: #3457a7;
  font-family: Georgia;
  font-weight: 600;
}

.big-story > .big-story-img img {
  border-radius: 10px;
  cursor: pointer;
}

.big-story-img {
  position: relative;
}

.big-story-text {
  position: absolute;
  top: 115%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #cdd9f3; */
  padding: 10px;
  /* border-radius: 5px; */
  text-align: center;
  width: 85%;
}

.line {
  width: 40%;
}
