.navbar {
  list-style: none;
  background-color: #0927b6;
  padding: 10px;
  border-bottom: 3px solid yellow;
}

.navbar-main {
  flex: 5;
  display: flex;
  justify-content: space-around;
  color: #999;
  font-size: large;
  font-weight: 700;
  width: 80%;
  margin: 0px auto;
}

.bottom-navigation {
  cursor: pointer;
}
