main {
  background-image: url("https://im.indiatimes.in/content/2023/Feb/Header-Website_63dca5ded64d2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}

.header {
  position: relative;
}

.header-top {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 20px;
}

.nav-icon img {
  width: 20%;
  height: 20%;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}

.header-left {
  width: 15%;
}

.logo {
  cursor: pointer;
}

.header-right {
  display: flex;
  justify-content: space-around;
  width: 18%;
}

.trends,
.language,
.login {
  cursor: pointer;
}

.trends {
  margin-right: 8px;
}

.login a {
  text-decoration: none;
  color: white;
  background-color: white;
  color: black;
  font-weight: 600;
  padding: 2px 5px;
  border-radius: 50px;
}

.header-bottom {
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: large;
  width: 60%;
  margin: 0px auto;
}

.navigation {
  cursor: pointer;
  position: relative;

}

.navigation::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px; 
  background-color: #fce44d;; 
  transition: width 0.5s ease; 
}

.navigation:hover::before {
  width: 100%;
}


#my-svg path {
  fill: white;
}